# Dependencies
node_modules/

# Environment Variables
.env

# Build outputs
dist/
dist-ssr/
build/

# Temporary uploads
uploads/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Local env files
*.local
